<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to our website</h1>
    <p>
      Nous avons ajouter un nouvel article dans la boutique
    </p>
    <p>Venez le voir <a href="#">ici</a></p>
  </body>
</html> 